<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>SISTEMAS EMBEBIDOS</title>
</head>
<body style="background-image: url('https://wallpaperaccess.com/full/5506731.jpg');">

<h1 style="text-align: center;"><span style="color: #ffffff;"><strong>Sistemas Embebidos</strong></span></h1>
<h1 style="text-align: center;"><em><span style="color: #ffffff;"><img src="https://html-online.com/editor/tiny4_9_11/plugins/emoticons/img/smiley-cool.gif" alt="cool" />Andres Silva<img src="https://html-online.com/editor/tiny4_9_11/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></span></em></h1>
<p><img id="imagen" style="display: block; margin-left: auto; margin-right: auto; width: 652px; height: 310px;" src="https://uvirtual.unach.edu.ec/Content/images/landing/logo_unachenmovimiento.png" alt="user" /></p>
<p>&nbsp;</p>
<h1 style="color: white;">Sensor 1:</h1>
<h1 style="color: white;">Sensor 2:</h1>
<h1 style="color: white; text-align: left;">&nbsp;</h1>
<p style="text-align: center;"><button id="btnSensor1" style="background-color: green; color: white; border-radius: 35px; border-color: white; border-width: 3px; font-weight: 600; font-size: 15px; padding: 15px 30px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); transition-duration: 0.4s;" type="button" onclick="SENSOR1_Leer()">Sensor 1</button> <button id="btnSensor2" style="background-color: red; color: white; border-radius: 35px; border-color: white; border-width: 3px; font-weight: 600; font-size: 15px; padding: 15px 30px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); transition-duration: 0.4s;" type="button" onclick="SENSOR2_Leer()">Sensor 2</button></p>
<p style="text-align: center;">&nbsp;</p>
<script>

</script>
</body>
</html>



